*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.barra-superior {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
    padding: 0 29px;
    color: white;
    font-size: .8em;
}

.menu {
    list-style: none;
    display: flex;
    height: 80%;
    margin-bottom: 0;
}

.menu__item {
    border-right: 1px solid white;
    height: 100%;
}

.menu__item:last-child {
    border-right: none;
}

.menu__link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: white;
    font-size: .8rem;
    line-height: 17.5px;
}

.menu__link:hover {
    text-decoration: none;
    color: white;
}
